.btn-width {
    min-width: 70px !important;
}

.board-icon {
    min-width: 280px;
    max-width: 280px;
}

.board-name {
    min-height: 30px;
    max-height: 30px;
}

.board-description {
    min-height: 60px;
    max-height: 60px;
}