<div class="ml-2 mr-2 mt-2 mb-2">
  <div class="card">
    <div class="card-body board-icon">
      <h3 class="card-title board-name">{{ board.name }}</h3>
      <p class="card-text board-description">{{ board.description }}</p>
      <button (click)="open()" class="btn btn-outline-primary my-2 my-sm-0 mr-2 btn-width">Open</button>
      <button (click)="edit()" class="btn btn-outline-warning my-2 my-sm-0 mr-2 btn-width">Edit</button>
      <button (click)="remove()" class="btn btn-outline-danger my-2 my-sm-0 btn-width">Remove</button>
    </div>
  </div>
</div>